<!-- NAVBAR -->
<nav> 
  <div class="nav-wrapper green lighten-1">
    <a href="#" class="brand-logo white-text"> DV </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="signuplink"> Sign-up </a></li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col 12">
    <h1> Welcome to Daovita </h1>
    <a class="waves-effect waves-light btn">Sign-up here!</a>
  </div>
</div>


















<!-- FOOTER -->
<!-- <footer class="page-footer green lighten-1">
  <div class="container">
    <div class="row">
      <div class="col 16 s12">
        <h5 class="white-text"> Footer Content </h5>
        <p class="grey-text text-lighten-4"> Insert footer stuff here </p>
      </div>
    </div>
  </div>
</footer>
 -->
